.logo_text
{
    font-family: 'Montserrat',sans-serif;
    text-rendering: optimizeLegibility;
    text-transform: uppercase !important;
    color: black;
}
.logo
{
    vertical-align: middle;
    position: relative;
    max-width: 50px;
    opacity: 1;

}

.test
{
    background-color: grey;
}

.profil_mask
{
    vertical-align: middle;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profil
{
    vertical-align: middle;
    max-width: 100%;
}