.logo_text
{
    font-family: 'Montserrat',sans-serif;
    text-rendering: optimizeLegibility;
    text-transform: uppercase !important;
    color: black;
}
.logo
{
    vertical-align: middle;
    position: relative;
    max-width: 50px;
    opacity: 1;

}

.test
{
    background-color: grey;
}

.profil_mask
{
    width: 100px;
    max-height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.Site
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.Site-content
{
    flex: 1;
}

.dd
{
    background-color: aquamarine;
}

.video
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

  